{% extends 'base.html' %}
{% block title %} Читатели {% endblock %}

{% block content %}

<h3 class="display-4 text-center my-4">Список читателей библиотеки</h3>
<div class="row">
    <div class="col-md-10 mx-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> ФИО читателя </th>
                    <th> Год рождения </th>
                    <th> Комментарий </th>
                </tr>
            </thead>
            <tbody>
                {% for item in objects_list %}
                <tr>
                    <td>
                        <p>{{ item.full_name }}</p>
                    </td>
                    <td>
                        <p>{{ item.birth_year }}</p>
                    </td>
                    <td>
                        <p>{{ item.comment }}</p>
                    </td>
                    <td>
                        <a href="{% url 'reader:reader_update' pk=item.id %}">
                            <button type="button" class="btn btn-primary btn-sm">Редактировать</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'reader:reader_delete' pk=item.id %}">
                            <button type="button" class="btn btn-danger btn-sm">Удалить</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10 mx-auto">
        <a href="{% url 'reader:reader_create' %}">
            <!-- <a href="{% url 'p_library:author_create' %}"> -->
            <button type="button" class="btn btn-info btn-sm">Добавить читателя</button>
        </a>
    </div>
</div>
{% endblock %}