{% extends 'base.html' %}
{% block title %} Авторы {% endblock %}

{% block content %}
    
    <h3 class="display-4 text-center my-4">Список книг</h3>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Наименование книги </th>
                        <th> ISBN </th>
                        <th> Год издания </th>
                        <th> Автор </th>
                        <th> Количество копий </th>
                        <th> Остаток копий </th>
                        <th> Редактировать </th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>
                                <p>{{ book.title }}</p>
                            </td>
                            <td>
                                <p>{{ book.ISBN }}</p>
                            </td>
                            <td>
                                <p>{{ book.year_release }}</p>
                            </td>
                            <td>
                                <p>{{ book.author.full_name }}</p>
                            </td>
                            <td> 
                                <p>{{ book.copy_count }}</p>
                            </td>
                            <td> 
                                <p>{{ book.ost_count }}</p>
                            </td>
                            <td>
                                <a href="{% url 'book_update' pk=book.id %}">
                                    <button type="button" class="btn btn-primary btn-sm">Редактировать</button>
                                </a>
                            </td>
                        </tr>        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
